{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Chat Rooms</h2>
        <div class="list-group">
            {% for room in chat_rooms %}
            <a href="{% url 'chat_room' room.name %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ room.name }}</h5>
                <small>Course: {{ room.course.title }}</small>
            </a>
            {% empty %}
            <p>No chat rooms available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 